<h1>Cadastrar Livro</h1>

<form action="/livros/cadastrar" method="POST">
  <input type="text" name="titulo" placeholder="Título" required>
  <input type="text" name="autor" placeholder="Autor" required>
  <input type="text" name="editora" placeholder="Editora">
  <input type="date" name="dataPublicacao">
  <input type="text" name="genero" placeholder="Gênero">
  <button type="submit">Cadastrar</button>
</form>
